.dropDownItem{
    text-align:center;
    border-top: 0.5px solid #A7C7E4;
    border-bottom: 0.5px solid #A7C7E4;
    transition: transform .1s;
    color:#A7C7E4;
    background:#183446;
    margin:0.5%;
}
.dropDownItem:hover{
    cursor:pointer;
    transform: scale(1.2);
    background:#A7C7E4;
    color:white;
}
.dropDownItem:active{
    transform: scale(0.9); 
}