.searchBar{
    background:transparent;
    border: 2px solid #A7C7E4;
    border-radius:3px;
    width:250px;
    height:100%;
    margin-right:30px;
    color:#A7C7E4;
    font-family: 'Segoe UI';
    font-size:13px;
}

.searchBar::placeholder{
    color:#A7C7E4;
    opacity:0.5;
    font-size:13px;
}
.searchBar:hover{
    background:#355979;
    color:white;
}